<div class="absolute left-2/100 -top-6/100 right-auto bottom-0 z-10 overflow-hidden w-1/2">
  <img src="https://cdn.prod.website-files.com/60a299f0cfa30f7583139133/60a2ee8de2fd090a74cd0b8c_leaf-left.svg" loading="lazy" width="350" alt="" class="left-leave justify-self-end drop-shadow-md drop-shadow-amber-600 rotate-180">
</div>

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pt-4 lg:pr-8">
        <div class="lg:max-w-lg">
          <!--<h2 class="text-base/7 font-semibold text-indigo-600">Voor wie?</h2>-->
          <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl fade-in right">Voor wie?</p>
          <p class="mt-6 text-lg/8 text-gray-700 fade-in up">Ik werk samen met mensen en organisaties die geloven dat natuur meer is dan een decor, en die willen investeren in echte verbinding tussen mens en omgeving.</p>
          <p class="mt-6 text-lg/8 text-gray-700 fade-in up">Mijn werk is bedoeld voor onder andere:</p>
          <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
            <div class="relative pl-9 fade-in up">
              <dt class="inline font-semibold text-gray-900">
                <i class="fa-solid fa-building-flag absolute top-1 left-1 size-5 text-green"></i>
                Organisaties en initiatieven
              </dt>
              <dd class="inline">die werken aan natuur, klimaat, duurzaamheid, welzijn of maatschappelijke vraagstukken</dd>
            </div>
            <div class="relative pl-9 fade-in up">
              <dt class="inline font-semibold text-gray-900">
                <i class="fa-solid fa-landmark-dome absolute top-1 left-1 size-5 text-green"></i>
                Gemeenten, natuurorganisaties en collectieven
              </dt>
              <dd class="inline">die op zoek zijn naar participatie, educatie of mensgerichte projecten</dd>
            </div>
            <div class="relative pl-9 fade-in up">
              <dt class="inline font-semibold text-gray-900">
                <i class="fa-solid fa-house-medical absolute top-1 left-1 size-5 text-green"></i>
                Zorg-, welzijns- en onderwijsorganisaties
              </dt>
              <dd class="inline">die natuur willen inzetten als onderdeel van hun aanbod</dd>
            </div>
            <div class="relative pl-9 fade-in up">
              <dt class="inline font-semibold text-gray-900">
                <i class="fa-solid fa-people-group absolute top-1 left-1 size-5 text-green"></i>
                Projectteams en netwerken
              </dt>
              <dd class="inline">die behoefte hebben aan coördinatie, verbinding en inhoudelijke ondersteuning</dd>
            </div>
            <div class="relative pl-9 fade-in up">
              <dt class="inline font-semibold text-gray-900">
                <i class="fa-solid fa-person-hiking absolute top-1 left-1 size-5 text-green"></i>
                Initiatiefnemers en pioniers
              </dt>
              <dd class="inline">met een goed idee, die zoeken naar vorm, structuur of uitvoering</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
        <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 xl:gap-8">
          <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 shadow-none outline-green fade-in up">
            <picture class="block size-full object-cover" loading="lazy" decoding="async" alt=""  >
              <img src="{{root}}img/for_who_2.webp"/>
            </picture>
          </div>
          <div class="-mt-8 aspect-square overflow-hidden rounded-xl outline-1 -outline-offset-1 lg:-mt-40 shadow-none outline-green fade-in up">
            <picture class="block size-full object-cover" loading="lazy" decoding="async" alt=""  >
              <img src="{{root}}img/for_who_1.webp"/>
            </picture>
          </div>
          <div class="aspect-square overflow-hidden rounded-xl outline-1 -outline-offset-1 shadow-none outline-green fade-in up">
            <picture class="block size-full object-cover" loading="lazy" decoding="async" alt=""  >
              <img src="{{root}}img/for_who_4.webp"/>
            </picture>
          </div>
          <div class="-mt-8 aspect-square overflow-hidden rounded-xl outline-1 -outline-offset-1 lg:-mt-40 shadow-none outline-green fade-in up">
            <picture class="block size-full object-cover" loading="lazy" decoding="async" alt=""  >
              <img src="{{root}}img/for_who_3.webp"/>
            </picture>
          </div>
        </div>
      </div>
        <!--<img width="2432" height="1442" src="{{root}}img/1689865052002.jpeg" alt="Product screenshot" class="w-3xl max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-228 md:-ml-4 lg:-ml-0 fade-in left" />-->
    </div>
  </div>
</div>
