<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="-mx-6 grid grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 sm:rounded-2xl md:grid-cols-3">
      <div class="bg-gray-400/5 p-8 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_1.webp" alt="Transistor" class="max-h-12 w-full object-contain" />
      </div>
      <div class="bg-gray-400/5 p-6 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_2.webp" alt="Reform" class="max-h-12 w-full object-contain" />
      </div>
      <div class="bg-gray-400/5 p-6 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_3.webp" alt="Tuple" class="max-h-12 w-full object-contain" />
      </div>
      <div class="bg-gray-400/5 p-6 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_4.webp" alt="Laravel" class="max-h-12 w-full object-contain" />
      </div>
      <div class="bg-gray-400/5 p-6 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_5.webp" alt="SavvyCal" class="max-h-12 w-full object-contain" />
      </div>
      <div class="bg-gray-400/5 p-6 sm:p-10 fade-in up">
        <img width="158" height="48" src="{{root}}img/partner_6.webp" alt="Statamic" class="max-h-12 w-full object-contain" />
      </div>
    </div>
  </div>
</div>
